[core]
	editor = \"C:\\Users\\camer\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a/node /tmp/vscode-remote-containers-ff7d9dd3d164b6fb524449d7aa0ee3b444937767.js $*; }; f"
