[core]
	editor = \"C:\\Users\\camer\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/3b889b090b5ad5793f524b5d1d39fda662b96a2a/node /tmp/vscode-remote-containers-e05afd593207f0ae61708ce5b5df82e323a83614.js $*; }; f"
